[res]
type=twitter
username:=

[plurk]
username=
password=

[sina]
usrname=
password=

[163]
usrname=
password=

[sohu]
usrname=
password=

[fanfou]
usrname=
password=

[9911]
usrname=
password=

[zuosa]
usrname=
password=

[renjian]
usrname=
password=

[follow5]
usrname=
password=

[pingfm]
api_key=
user_app_key=

[hellotxt]
usrname=
password=

[wbto]
usrname=
password=
