[res]
type=twitter
username=

[plurk]
username=
password=

[sina]
usermane=
password=

[163]
usermane=
password=

[sohu]
usermane=
password=

[fanfou]
usermane=
password=

[9911]
usermane=
password=

[zuosa]
usermane=
password=

[renjian]
usermane=
password=

[follow5]
usermane=
password=

[pingfm]
api_key=
user_app_key=

[hellotxt]
usermane=
password=

[wbto]
usermane=
password=
